h1  {
	margin: 0em;
    border: none;
    background: black;
    color: white;
    font: bold 18pt Helvetica, Arial, sans-serif;
    padding: 0.25em;
    }

h2  {
    margin: 0em;
    border: none;
    background: black;
    color: red;
    font: bold 16pt Helvetica, Arial, sans-serif;
    padding: 0.2em;
    }

h3  {
    margin: 0em;
    border: none;
    background: grey;
    color: yellow;
    font: bold 14pt Helvetica, Arial, sans-serif;
    padding: 0.2em;
    }

h4  {
    font: bold 12pt Helvetica, Arial, sans-serif;
    }

p   {
    font: 12pt Helvetica, Arial, sans-serif;
    }

img {
    text-align: right;
    height: 20ex;
    }

#index
    {
    float: right;
    background: white;
    width: 25em;
    min-height: 100%;
    }
