h1  {
	margin: 0em;
    border: none;
    background: midnightblue;
    color: red;
    font: bold 18pt Helvetica, Arial, sans-serif;
    padding: 0.25em;
    }

h2  {
    margin: 0em;
    border: none;
    background: darkblue;
    color: white;
    font: bold 16pt Helvetica, Arial, sans-serif;
    padding: 0.2em;
    }

h3  {
    margin: 0em;
    border: none;
    background: slategrey;
    color: black;
    font: bold 14pt Helvetica, Arial, sans-serif;
    padding: 0.2em;
    }

h4  {
    font: bold 12pt Helvetica, Arial, sans-serif;
    }

p   {
    font: 12pt Helvetica, Arial, sans-serif;
    }

img {
    text-align: right;
    height: 20ex;
    }

#index
    {
    margin: 1em;
    float: right;
    background: whitesmoke;
    width: 25em;
    min-height: 100%;
    padding: 1em;
    box-shadow: 0.3em 0.3em 0.5em 0.5em #888888;
    }
