h1 {
	margin: 0em;
    border: none;
    background: black;
    color: white;
    font: bold 18pt Helvetica, Arial, sans-serif;
    padding: 0.25em;
    }

h2 {
    font: bold 16pt Helvetica, Arial, sans-serif;
    }

h3 {
    font: bold 14pt Helvetica, Arial, sans-serif;
    }

h4 {
    font: bold 12pt Helvetica, Arial, sans-serif;
    }

p   {
    font: 12pt Helvetica, Arial, sans-serif;
    }

img {
    text-align: right;
    height: 20ex;
    }

.index
    {
    text-align: right;
    }
